

.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(gray , rgb(255, 68, 0));

}

.container{
  display: flex;
  height: 60vh;
  width: 50vh;
  border: 2px solid darkslategray;
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  background: #34282c;
  font-size: 20px;
  color:#B6B6B4 ;
  
}

.container>h1{
  margin-top: 5px;
  font-size: 30px;
}
.todoForm{
  display: flex;
  width: 50vh;
  justify-content: space-around;
}

input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  
}
.todoForm>button{
  width: 15%;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin: 0 5px;
  cursor: pointer;
}

.allTodos{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  
}

.singleTodo{
  border-radius: 10px;
  margin: 10px 0 10px 0;
  background-color: orangered;
  padding: 5px 10px;
  display: flex ;
  width: 40vh;
  align-items: center;
  color: black;
}

.todoText{
  flex: 1;
}
.singleTodo>button{
  width: 15%;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin: 0 2px;
  padding: 2px;
}

.singleTodo>button:nth-child(2){
  width: 10%;
}

.singleTodo>button:hover{
  background: #B6B6B4;
  cursor: pointer;
}

.todoForm>button:hover{
  background-color: #B6B6B4;
  transition: 0.3s;
}